@charset "utf-8";
@import "background_line";
@import "menu";
@import "upeer_right";

*{
  font-family: 'Candal', sans-serif;
}

html
{
  height: 100%;
  position: relative;
  background-color: #ff0;
}



.main{
  display: block;
  overflow: scroll;
  position: fixed;
  left: 500px;
  height: 80%;
  margin-top:50px;
}

.main::-webkit-scrollbar {
  display: none;
}

.p4tv {
  width: 900px;
}

