@charset "utf-8";
@import "background_line";
@import "menu";
@import "upeer_right";

*{
  font-family: 'Candal', sans-serif;
}

html
{
  height: 100%;
  position: relative;
  background-color: #ff0;
}



.main{
  display: block;
  overflow: scroll;
  background-color: #eee;
  height: 700px;
  width: 1150px;
  position: fixed;
  left: 400px;
  top: 100px;
}
