@-webkit-keyframes horizon_anime {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-webkit-keyframes vertical_anime {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }
.line_horizon1 {
  position: absolute;
  display: block;
  background: #faa622;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  width: 100%;
  height: 15px;
  left: 0;
  bottom: 100px;
  -webkit-animation: horizon_anime 0.7s ease-out; }
.line_horizon2 {
  position: absolute;
  display: block;
  background: #ffe52c;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 80px;
  -webkit-animation: horizon_anime 0.5s ease-out; }
.line_horizon3 {
  position: absolute;
  display: block;
  background: #7fe6ef;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  width: 100%;
  height: 8px;
  left: 0;
  bottom: 73px;
  -webkit-animation: horizon_anime 0.6s ease-out; }
.line_horizon4 {
  position: absolute;
  display: block;
  background: #c4d70c;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  width: 100%;
  height: 12px;
  left: 0;
  bottom: 61px;
  -webkit-animation: horizon_anime 0.8s ease-out; }
.line_horizon5 {
  position: absolute;
  display: block;
  background: #c22303;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  width: 100%;
  height: 8px;
  left: 0;
  bottom: 53px;
  -webkit-animation: horizon_anime 1s ease-out; }
.line_vertical1 {
  position: absolute;
  display: block;
  background: #faa622;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  width: 15px;
  height: 100%;
  left: 150px;
  bottom: 0;
  -webkit-animation: vertical_anime 0.7s ease-out; }
.line_vertical2 {
  position: absolute;
  display: block;
  background: #ffe52c;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  width: 20px;
  height: 100%;
  left: 130px;
  bottom: 0;
  -webkit-animation: vertical_anime 0.5s ease-out; }
.line_vertical3 {
  position: absolute;
  display: block;
  background: #7fe6ef;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  width: 8px;
  height: 100%;
  left: 123px;
  bottom: 0;
  -webkit-animation: vertical_anime 0.6s ease-out; }
.line_vertical4 {
  position: absolute;
  display: block;
  background: #c4d70c;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  width: 12px;
  height: 100%;
  left: 111px;
  bottom: 0;
  -webkit-animation: vertical_anime 0.8s ease-out; }
.line_vertical5 {
  position: absolute;
  display: block;
  background: #c22303;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
  width: 8px;
  height: 100%;
  left: 103px;
  bottom: 0;
  -webkit-animation: vertical_anime 1s ease-out; }

.menu {
  margin: 50px 0 0 50px;
  display: inline-block; }

.menu_text {
  font-size: 40px;
  position: relative;
  line-height: 50px;
  padding: 10px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px; }

.menu_text:hover {
  font-size: 60px;
  -webkit-animation: menu_text_anime 0.1s ease-out; }

@-webkit-keyframes menu_text_anime {
  0% {
    -webkit-transform: translateY(5px); }
  50% {
    -webkit-transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(5px); } }
.menu_text a:link {
  color: #000;
  text-decoration: none; }

.menu_text a:visited {
  color: #000;
  text-decoration: none; }

.menu_text a:hover {
  color: #000;
  text-decoration: none; }

.menu_text a:active {
  color: #000;
  text-decoration: none; }

.upper_right1 {
  display: block;
  width: 130px;
  height: 130px;
  border-width: 0 0 10px 10px;
  border-color: #c4d70c;
  border-style: solid;
  border-radius: 0 0 0 130px;
  position: fixed;
  right: 0px; }
.upper_right2 {
  display: block;
  width: 140px;
  height: 140px;
  border-width: 0 0 5px 5px;
  border-color: #c22303;
  border-style: solid;
  border-radius: 0 0 0 140px;
  position: fixed;
  right: 0px; }
.upper_right3 {
  display: block;
  width: 145px;
  height: 145px;
  border-width: 0 0 6px 6px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 0 0 0 145px;
  position: fixed;
  right: 0px; }
.upper_right4 {
  display: block;
  width: 148px;
  height: 148px;
  border-width: 0 0 8px 8px;
  border-color: #faa622;
  border-style: solid;
  border-radius: 0 0 0 148px;
  position: fixed;
  right: 0px; }
.upper_right5 {
  display: block;
  width: 152px;
  height: 152px;
  border-width: 0 0 15px 15px;
  border-color: #ffe52c;
  border-style: solid;
  border-radius: 0 0 0 152px;
  position: fixed;
  right: 0px; }

* {
  font-family: 'Candal', sans-serif; }

html {
  height: 100%;
  position: relative;
  background-color: #ff0; }

.main {
  display: block;
  overflow: scroll;
  background-color: #eee;
  height: 700px;
  width: 1150px;
  position: fixed;
  left: 400px;
  top: 100px; }

/*# sourceMappingURL=style.css.map */
